body{
    background-color: #0c192c;
    height: 100%;
}


.container{
    background-color: #E3813D;
    animation: zoomIn;
    animation-duration: 1s;
}

label{
    font-weight: bold;
}

footer{
    bottom: 0%;
}