@media (max-width: 1200px){
    .treinos{
        display: flex;
        flex-wrap: wrap;
    }
    
    .tabletreinos{
        margin: 10px auto;
    }

    .tabela{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

